DB_HOST=49.233.127.177 		                              # 数据库连接ip地址
DB_PORT=14148 										                      # 数据库连接端口
DB_USERNAME=root                                        # 数据库连接用户名
DB_PASSWORD=JkKDWwRnFaedGWGBCpHU                        # 数据库连接密码
DB_DATABASE=plain 								                      # 数据库连接的数据库名

REDIS_HOST=49.233.127.177 							                # redis数据库连接ip地址
REDIS_PORT=7740                                         # redis数据库连接端口
REDIS_PASSWORD=bsuc8ED37svWXAyjTBjb                     # redis数据库连接密码
REDIS_DB=0                                              # redis数据库连接的库索引

LLM_KEY_LOCAL=123                                       # 本地模型key
LLM_KEY_HUOSHAN=dc7979dc-af60-4700-9f71-XXXXXXXXXXXX 	  # 火山引擎模型服务平台key
LLM_KEY_BAILIAN=sk-248f811295914adcad837XXXXXXXXXXX 	  # 阿里云百炼模型服务平台key
LLM_KEY_DEEPSEEK=sk-a89d0ff9421a43fca5f0xxxxxxxxxxxx 	  # Deepseek模型服务平台key

SERVER_PORT = 7004                                      # 服务启动端口
SERVER_ENABLE_CORS = True                               # 是否允许跨域
SERVER_FILE_SAVE_PATH=/www/wwwroot/web/web/upload_file/ # 文件保存在服务器上的路径
SERVER_FILE_PUBLIC_PATH=/web/upload_file/               # 文件在浏览器上的访问路径
SERVER_VERIFY_PATH=http://49.233.127.177/7005/verify    # 激活用户账号的接口路径
SERVER_LOGIN_PATH=http://49.233.127.177/ai-agent-react/public/login # 登录页面路径
SERVER_VERIFY_PWD = True                                # 是否需要验证密码才能登陆

JWT_SECRET_KEY = a2d41c19c766490a2bea4be9902ea9f60e44ca3d9ef82e8b803f77a4f9deb247 # JWT秘钥
JWT_ALGORITHM = HS256                                   # JWT加密算法
JWT_ACCESS_TOKEN_EXPIRE_SECONDS = 1800                  # JWT访问令牌默认有效时间（秒，1800s为30分钟）
JWT_REFRESH_TOKEN_EXPIRE_SECONDS = 604800               # JWT刷新令牌默认有效时间（描秒，604800s为7天）
JWT_GLOBAL_ENABLE = true                                # 是否开启全局JWT认证
JWT_WHITE_LIST = app/config/jwt.whitelist              # JWT白名单
