SERVER_PORT = 7004                                      # 服务启动端口
SERVER_ENABLE_CORS = True                               # 是否允许跨域

DB_HOST=49.233.127.177 		                              # 数据库连接ip地址
DB_PORT=14148 										                      # 数据库连接端口
DB_USERNAME=root                                        # 数据库连接用户名
DB_PASSWORD=JkKDWwRnFaedGWGBCpHU                        # 数据库连接密码
DB_DATABASE=plain 								                      # 数据库连接的数据库名

LLM_KEY_LOCAL=123                                       # 本地模型key
LLM_KEY_HUOSHAN=dc7979dc-af60-4700-9f71-XXXXXXXXXXXX 	  # 火山引擎模型服务平台key
LLM_KEY_BAILIAN=sk-248f811295914adcad837XXXXXXXXXXX 	  # 阿里云百炼模型服务平台key
LLM_KEY_DEEPSEEK=sk-a89d0ff9421a43fca5f0xxxxxxxxxxxx 	  # Deepseek模型服务平台key

