SERVER_PORT = 7004                                      # 服务启动端口

LLM_KEY_LOCAL=123                                       # 本地模型key
LLM_KEY_HUOSHAN=dc7979dc-af60-4700-9f71-XXXXXXXXXXXX 	  # 火山引擎模型服务平台key
LLM_KEY_BAILIAN=sk-248f811295914adcad837XXXXXXXXXXX 	  # 阿里云百炼模型服务平台key
LLM_KEY_DEEPSEEK=sk-a89d0ff9421a43fca5f0xxxxxxxxxxxx 	  # Deepseek模型服务平台key
